* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;

}

body {
    width: 100%;
    height: 100vh;
}

%common {
    align-items: center;
    display: flex;
    justify-content: center;
}


.container {
    header {
        .navbar {

            .navbar-content {
                column-gap: 100px;
                padding: 0 75px;

                .navbar-login {
                    .button {
                        width: 130px;
                        justify-content: space-evenly;
                        height: 40px;
                        @extend %common;
                    }
                }
            }
        }

        .header-main {
            @extend %common;
            flex-direction: column;

            .content {
                @extend %common;
                flex-direction: column;

                h1 {
                    font-size: 60px;
                }

                .buttons {
                    button {
                        color: white;
                        width: 200px;
                        height: 50px;
                        border-radius: 10px;
                    }
                }
            }

            .logotips {
                column-gap: 75px;
            }
        }
    }
}

.TheBestReference {
    .cards {
        flex-wrap: wrap;
        .cord {
            width: 306.011px;
            padding: 20px 20px;

            .content {
                padding: 20px 20px;

            }
        }
    }
}
.Pricing{
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            width: 300px;
            padding: 20px 20px;
            margin-top: 60px;
        }
    }
}
.item{
    width: 200px;
    display: flex;
    flex-direction: column;
    span{
        margin-top: 20px;
    }
}
.footer{
    flex-wrap: wrap;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}